HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Игнорировать файлы с переменными окружения
.env

# Эти файлы нужны для запуска локально
№Dockerfile.local.nginx
№docker-compose.local.yml

# это первая версия без ssl сертификата
docker-compose_init.yml

docker-compose_localhost_kafka.yml
cookie.txt

create_DB

node_modules
package.json
package-lock.json


