<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Новое ТС</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container">
        	<h1>Новое транспортное средство</h1>
		
			<form 	th:method="POST" 
					th:action="@{/managers/enterprises/{id}/vehicles/new(id=${enterprise.getId()})}" 
					th:object="${vehicle}" class="needs-validation">
					
				<div class="form-group mb-3">
	                <label for="brand">Бренд:</label>
		                <select id="brand" th:name="brandId" class="form-control">
		                    <option th:each="brand : ${brands}" th:value="${brand.getId()}" th:text="${brand.getName()}"></option>
		                </select>
            	</div>
			
	            <div class="form-group mb-3">
	                <label for="registrationNumber">Регистрационный номер:</label>
	                <input type="text" th:field="*{registrationNumber}" id="registrationNumber" class="form-control" required/>
	                <div class="invalid-feedback" th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}">registrationNumber error</div>
	            </div>
				   
	            <div class="form-group mb-3">
	                <label for="yearOfProduction">Год производства: </label>
	                <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction" class="form-control" required/>
	                <div class="invalid-feedback" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}">yearOfProduction error</div>
	            </div>
	            
	            <div class="form-group mb-3">
	                <label for="price">Цена, руб: </label>
	                <input type="text" th:field="*{price}" id="price" class="form-control" required/>
	                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price error</div>
	            </div>
	            
	            <div class="form-group mb-3">
	                <label for="price">Пробег, км: </label>
	                <input type="text" th:field="*{mileage}" id="mileage" class="form-control" required/>
	                <div class="invalid-feedback" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}">mileage error</div>
	            </div>
			    			
			    <input 	style="margin-bottom: 10px;"
					type="submit" 
					value="Сохранить ТС" 
					class="btn btn-primary"/>    
					
			</form>
			

			
			<div>
			    <b> <a th:href="@{/managers/enterprises/{id}/vehicles?page=1(id=${enterprise.getId()})}" class="btn btn-secondary">Назад</a> </b>
			</div>
		
		</div>
	
	</body>
</html>