<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Подробнее</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	</head>

	<body>
	
	<div class="container">

			<h1>Подробная информация:</h1>
			<table class="table table-bordered">
				<tr>
					<th>Id</th>
					<th>Бренд</th>
					<th>Регистрационный номер</th>
					<th>Год выпуска</th>
					<th>Стоимость, руб</th>
					<th>Пробег, км</th>
				</tr>
				
				<td>
					<p th:utext="${vehicle.getId()}">
				</td>
				
				<td>
				
					<div style="color:red" th:if="${vehicle.getBrand() == null}">
			    		<p>Бренд был удален. Назначьте новый.</p>
					</div>
					
					<div th:if="${vehicle.getBrand() != null}">
					<a th:href="@{/brands/{id}(id=${vehicle.getBrand().getId()})}"
						th:utext="${vehicle.getBrand().getName()}">
					</div>
				
				</td>
				
				<td>
					<p th:utext="${vehicle.getRegistrationNumber()}">
				</td>
				
				<td>
					<p th:utext="${vehicle.getYearOfProduction()}">
				</td>
				
				<td>
					<p th:utext="${vehicle.getPrice()}">
				</td>
				
				<td>
					<p th:utext="${vehicle.getMileage()}">
				</td>
					
			</table>
			
			<h1>Поездки:</h1>
			
			<form th:action="@{'/managers/enterprises/' + ${idEnterprise} + '/vehicles/' + ${vehicle.id}}" method="get">
			    <div class="container">
			        <p>Выбранный период с <input type="date" name="dateFrom" th:value="${dateFrom}"> по <input type="date" name="dateTo" th:value="${dateTo}">
			        <button type="submit" class="btn btn-primary ml-2">Обновить</button>
			        </p>
			    </div>
			</form>

			<table style="border-collapse: collapse; width: 100%;">
				<thead>
					<tr>
						<th>Id</th>
						<th>Начало</th>
						<th>Окончание</th>
						<th>Адрес отправления</th>
						<th>Адрес прибытия</th>
						<th></th>
					</tr>
				</thead>
			    <tbody th:each="trip : ${trips}">
			        <tr style="border-bottom: 1px solid #ddd;">
			            <td style="padding: 8px;" th:text="${trip.id}"></td>
			            <td style="padding: 8px;" th:text="${trip.timeOfStartForManager}"></td>
			        	<td style="padding: 8px;" th:text="${trip.timeOfEndForManager}"></td>
			        	<td style="padding: 8px;" th:text="${trip.addressOfStart}"></td>
			        	<td style="padding: 8px;" th:text="${trip.addressOfEnd}"></td>

						<td style="padding: 8px;">
						    <a th:href="@{'/managers/enterprises/' + ${idEnterprise} + '/vehicles/' + ${vehicle.id} + '?idTrip=' + ${trip.id}}" title="Путь на карте">На карте</a>
						</td>
			        </tr>
			        
			        <tr th:if="${trip.id != null and trip.id == idTrip}">
				        <td colspan="6">
				            <img th:src="${mapUrl}" alt="Map Image"/>
				        </td>
				        
				    </tr>
			    </tbody>
			</table>
		
		
		
			<div>
			    <b> <a	th:href="@{/managers/enterprises/{idEnterprise}/vehicles?page=1(idEnterprise=${enterprise.getId()})}" 
			    		class="btn btn-secondary">Назад</a> </b>
			</div>
		</div>
	
	</body>
</html>