<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>BrandInfo</title>
</head>

<body>

<table border="1">
	<tr>
		<th>Id</th>
		<th>Бренд</th>
		<th>Тип ТС</th>
		<th>Объем топливного бака, л</th>
		<th>Грузоподъемность, т</th>
		<th>Пассажировместимость, чел</th>
		<th>Мощность двигателя, л.с.</th>
		<th>Действия</th>
	</tr>
	
	<td>
		<p th:utext="${brand.getId()}">
	</td>
	
	<td>
		<p th:utext="${brand.getName()}">
	</td>
	
	<td>
		<p th:utext="${brand.getTypeVehicle().getTitle()}">
	</td>
	
	<td>
		<p th:utext="${brand.getTankCapacity()}">
	</td>
	
	<td>
		<p th:utext="${brand.getLoadCapacity()}">
	</td>
	
	<td>
		<p th:utext="${brand.getPassengerCapacity()}">
	</td>
	
	<td>
		<p th:utext="${brand.getEnginePower()}">
	</td>
	
	<td>
		<form th:method="GET" th:action="@{/brands/{id}/edit(id=${brand.getId()})}">
		    <input type="submit" value="Редактировать"/>
		</form>
		
		<form th:method="DELETE" th:action="@{/brands/{id}(id=${brand.getId()})}">
    		<input type="submit" value="Удалить"/>
		</form>
	</td>

</table>

<br/>

<a href="/brands">Вернуться к списку брендов</a>

</body>
</html>